<html>
  <head>
     <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <body>
   
    <center><a href="/"><h2>{{ title }}</h2></a></center>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <center>
   
    {% for category, message in messages %}
        {% if category=='error'%}
          <li style="color: red">{{ message }} </li>
        {% else %}
          <li style="color: blue">{{ message }} </li>
        {% endif %}
      
    {% endfor %}
    </center>
   
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
